{% extends 'app_uncle_shop/base.html' %} {% block content %} {% comment %}
<style>
  .text-color {
    color: white;
  }
</style>
{% endcomment %}

<div class="container">
  <div class="text-color-black">
    <h3>Email: loong.wissawakorn@gmail.com</h3>
    <p>
      ออฟฟิสลุงเดินทางสะดวก ติด BTS สนามเป้าทางออก 4 อาคารวิเศษศิริ ห้อง 301
    </p>
    <p>ที่อยู่: 226 ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร 10400</p>
  </div>
</div>
<div style="padding: 20px"></div>

{% endblock content %}
