{% extends 'app_uncle_shop/index.html' %} 

{% block content %}

<style>
  .text-color {
    color: white;
  }
</style>
<div class="container">
  <div class="text-color">
    <h3>email: loong.wissawakorn@gmail.com</h3>
    <p>เบอร์โทร: ติดต่อทางเพจก่อนลุงจะให้เบอร์โทรคุยโดยตรงจร้าาา
      บริษัทลุง: บริษัท คอนส์ โรโบติกส์ จำกัด
      ที่อยู่: 226 ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร 10400</p>
  </div>
</div>
<div style="padding: 20px"></div>
{% endblock content %}

