{% extends 'app_uncle_shop/base.html' %} 

{% block content %}
{% comment %} <style>
  .text-color {
    color: black;
  }
</style> {% endcomment %}
<div class="container">
  <div class="text-color-black">
    <h3>ติดต่อเราผ่าน</h3>
    <h3>Email: loong.wissawakorn@gmail.com</h3>
    <p>เบอร์โทร: ติดต่อทางเพจก่อนลุงจะให้เบอร์โทรคุยโดยตรงจร้าาา</p>
    <p>บริษัทลุง: บริษัท คอนส์ โรโบติกส์ จำกัด</p>
    <p>ที่อยู่: 226 ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร 10400</p>
  </div>
</div>
<div style="padding: 20px"></div>
{% endblock content %}
