{% extends 'app_uncle_shop/base.html' %} 

{% block content %}

<div class="container-fluid mt-4">
  <div class="text-color-white">
    <h3>สินค้าใหม่</h3>
    <p>สินค้า ล่าสุด</p>
  </div>
  <div class="row">
    {% for pd in product %}

    <div class="col-sm-4">
      <div class="card" style="width: 400; height: 440; border-radius: 0;">
        {% if pd.image %}
        <img
          class="card-img-top"
          src="{{ pd.image.url }}"
          width="400"
          height="300"
        />

        /> {% elif pd.imageurl != None %}
        <img
          class="card-img-top"
          src="{{ pd.imageurl }}"
          width="400"
          height="300"
        />

        {% else %}

        <img
          class="card-img-top"
          src="/media/default.png"
          width="400"
          height="300"
        />

        {% endif %}
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            {{ pd.name|linebreaks|truncatechars_html:26 }}
          </h5>

          <p class="card-title">ราคา {{ pd.price }} บาท/{{pd.unit}}</p>

          <!-- <p>{{ pd.detail|linebreaks|truncatechars_html:40 }}</p> -->

          {% if pd.quantity > 0 %}

          <p >จำนวน {{pd.quantity}} {{pd.unit}}</p>

          {% else %}

          <p>
            <font color="red">ขออภัย สินค้าหมด</font>
          </p>

          {% endif %} {% if pd.instock == True %}

          <a href="#" class="button-black">สั่งชื่อ</a>

          {% else %}

          <a href="#" class="button-orange">กำลังเพิ่มสินค้า</a>

          {% endif %}
        </div>
      </div>
      <br /><br />
    </div>
    {% endfor %}
  </div>
</div>


<div class="container-fluid mt-4">
  <div class="text-color-white">
      <center>
        <a href="{% url 'all-product-page' %}"> <h1>สินค้าทั้งหมดของพวกเรา</h1></a>
      </center>
      <hr />
    <h3>สินค้าใหม่</h3>
    <p>สินค้า ล่าสุด</p>
  </div>
  <div class="row">
    {% for pd in product %}
    <div class="col-sm-4">
      <div class="card" style="width: 400; height: 450px; border-radius: 0;">
        {% if pd.image %}
        <img
          class="card-img-top"
          src="{{ pd.image.url }}"
          width="400"
          height="300"
        />

        /> {% elif pd.imageurl != None %}
        <img
          class="card-img-top"
          src="{{ pd.imageurl }}"
          width="400"
          height="300"
        />

        {% else %}

        <img
          class="card-img-top"
          src="/media/default.png"
          width="400"
          height="300"
        />

        {% endif %}
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            {{ pd.name|linebreaks|truncatechars_html:30 }}
          </h5>

          <p>ราคา {{ pd.price }} บาท/{{pd.unit}}</p>

          <!-- <p>{{ pd.detail|linebreaks|truncatechars_html:40 }}</p> -->

          {% if pd.quantity > 0 %}

          <p>จำนวน {{pd.quantity}} {{pd.unit}}</p>

          {% else %}

          <p>
            <font color="red">ต้องการสั่งซื้อสินค้า กรุณาสอบถามได้</font>
          </p>
          <a href="#" class="button-orange">สั่งซื้อล่วงหน้าได้</a>

          {% endif %}
        </div>
      </div>

      <br /><br />
    </div>
    {% endfor %}
  </div>
  </div>
{% endblock content %}
