{% extends 'app_uncle_shop/index.html' %} 
{% load humanize %} 
{% block content %}
<html>
  <head>
    {% if status == 'delete '%}
    <div class="alert alert-danger">
      <strong>ลบรายการสำเร็จ!</strong> หากต้องการทำการสั่งซื้อใหม่ กรุณาติดต่อ Admin.
    </div>
    {% endif %}
    <br />

    <div class="container">
      <div class="text-color-white">
        <h3>ตะกร้าสินค้า</h3>
      </div>
      <table>
          <tr>
            <th>ไอดี</th>
            <th>ชื่อสินค้า</th>
            <th>เวลา</th>
            <th>ลบ</th>
            <th>ราคา</th>
            <th>จำนวน</th>
            <th>ยอดรวม</th>
          </tr>
          {% for pd in mycart %}
          <tr>
            <td>{{pd.productid}}</td>
            <td>{{pd.productname}}</td>
            <td>{{pd.stamp}}</td>
            <td>
              <form
                method="POST"
                id="form{{pd.productid}}"
                onsubmit=" confirm('ທ່ານຢືນຢັນຕ້ອງການລົບ ຫຼື ບໍ?')"
              >
                {% csrf_token %}
                <input
                  type="hidden"
                  name="productid"
                  value="{{pd.productid}}"
                />
                <button
                  type="submit"
                  form="form{{pd.productid}}"
                  class="button-red"
                >
                  ลบ
                </button>
              </form>
            </td>
            <td>{{pd.price|intcomma}}</td>
            <td>{{pd.quantity|intcomma}}</td>
            <td>{{pd.total|intcomma}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td><h5>ยอดรวมทั้งหมด</h5></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>{{count|intcomma}}</h5></td>
            <td><h5>{{total|intcomma}}</h5></td>
          </tr>
      </table>
      <div style="padding: 10px"></div>
      <div class="row">
        <div style="padding: 8px"></div>
        <a href="{% url 'checkout-page' %}" class="button-dark-blue">สั่งชื้อ</a>
        <div style="padding: 10px"></div>
        <a href="{% url 'my-cart-edit-page' %}" class="button-orange"
          >แก้ไขจำนวน</a
        >
      </div>
      <div style="padding: 20px"></div>
    </div>
  </head>
</html>
{% endblock content %}
