{% extends 'app_uncle_shop/index.html' %} {% load humanize %} {% block content %}
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="text-color-white">
        <h3>ລາຍການສັ່ງຊື້ທັງໝົດ</h3>
      </div>
      <table>
          <tr style="font-size: 14px;">
            <th>ORDER ID</th>
            <th>DATE TIME</th>
            <th>TRACKING NO.</th>
            <th>COST</th>
            <th>TOTAL</th>
            <th>ALL TOTAL</th>
            <th>STATUS</th>
          </tr>
          {% for od in allorder %}
          <tr style="font-size: 14px;">
            <td><a href="{% url 'my-order-page' od.orderid %}">{{od.orderid}}</a></td>
            <td>{{od.stamp}}</td>
            <td>
              {% if od.tracking_number != None %}
                {{od.tracking_number}}
              {% endif %}
            </td>
            <td>
              {{od.shipping_cost|intcomma}}
            </td>
            <td>{{od.total|intcomma}}</td>
            <td>
              {{od.total|add:od.shipping_cost|intcomma}}
            </td>
            <td>
              {% if od.paid %} 
              <i class="fa fa-check-square-o" style="font-size:14px;color:green;"> ຈ່າຍເງິນແລ້ວ </i>
              
              {% else %}
              <a href="{% url 'upload-slip-page' od.orderid %}" class="button-black">
                ອັພໂຫຼດໃບບິນ
              </a> 
              {% endif %}
            </td>
          </tr>
          {% endfor %}
      </table>
      <div style="padding: 20px"></div>
    </div>
  </body>
  </html>
{% endblock content %}

