{% extends 'app_uncle_shop/index.html' %} 
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="text-color-white">
        <h3>รายการสั่งซื้อทั้งหมด</h3>
      </div>
      <table>
          <tr style="font-size: 14px;">
            <th>รหัสคำสั่งซื้อ</th>
            <th>เวลา</th>
            <th>เลขพัสดุขนส่ง</th>
            <th>ค่าขนส่ง</th>
            <th>ยอดรวม</th>
            <th>ยอดรวมทั้งหมด</th>
            <th>สถานะ</th>
          </tr>
          {% for od in allorder %}
          <tr style="font-size: 14px;">
            <td><a href="{% url 'my-order-page' od.orderid %}">{{od.orderid}}</a></td>
            <td>{{od.stamp}}</td>
            <td>
              {% if od.tracking_number != None %}
                {{od.tracking_number}}
              {% endif %}
            </td>
            <td>
              {{od.shipping_cost|intcomma}}
            </td>
            <td>{{od.total|intcomma}}</td>
            <td>
              {{od.total|add:od.shipping_cost|intcomma}}
            </td>
            <td>
              {% if od.paid %} 
              <i class="fa fa-check-square-o" style="font-size:14px;color:green;"> จ่ายแล้ว </i>
              
              {% else %}
              <a href="{% url 'upload-slip-page' od.orderid %}" class="button-black">
                อัปโหลดใบบิล
              </a> 
              {% endif %}
            </td>
          </tr>
          {% endfor %}
      </table>
      <div style="padding: 20px"></div>
    </div>
  </body>
  </html>
{% endblock content %}

