{% extends 'app_uncle_shop/base.html' %} 
{% load markdown_extras %} 
{% block content%}

<style>
  .text-color {
    color: black;
  }
</style>
<div class="container">
  <div class="text-color">
    <h3>{{all_products.name}}</h3>
    
    {% if all_products.images %}
    <img src="{{all_products.images.url}}" width="450px" height="350px" /><br /><br />
    {% endif %}

    {{all_products.detail | markdown | safe}}
    <h4>ราคา {{all_products.price}}</h4>
  </div>
</div>
<div style="padding: 20px"></div>
{% endblock content %}
